<%- include ../../partials/header.ejs %> <%- include ../../partials/navbar.ejs
%>
<div class="container">
  <hr />
  <div class="card">
    <div class="card-header">
      <h2>Novo Artigo</h2>
    </div>
    <div class="card-body">
      <form method="POST" action="/articles/save">
        <input class="form-control" type="text" name="title" placeholder="Defina o titulo"/>
        <br />
        <% if (erros.title) { %>
          <div class="alert alert-danger" role="alert" data-dismiss="alert">
            <%= erros.title.msg %>
          </div>
          <% } %>
        <input class="form-control" type="text" name="subTitle" placeholder="Defina o sub titulo"/>
        <br />
        <% if (erros.subTitle) { %>
          <div class="alert alert-danger" role="alert" data-dismiss="alert">
            <%= erros.subTitle.msg %>
          </div>
          <% } %>
        <textarea class="form-control" placeholder="Escreva o artigos" name="body" id="article"></textarea>
        <br />
        <% if (erros.body) { %>
          <div class="alert alert-danger" role="alert" data-dismiss="alert">
            <%= erros.body.msg %>
          </div>
          <% } %>
        <label>Categoria</label>
        <select name="category" class="form-control">
          <% categories.forEach((category) =>{ %>
          <option value="<%= category.id %>"><%= category.title %></option>
          <% })%> 
          </select>
          <br />
          <input type="hidden" name="userName" value="<%= username.name %>">
        <button class="btn btn-success">Cadastrar</button>
      </form>
    </div>
  </div>
</div>

<%- include ../../partials/footer.ejs %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
  tinymce.init({
    language: "pt_BR",
    selector: "#article",
    plugins: [
      "advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons"
    ]
  });
</script>
