<%- include ../../partials/header.ejs %> <%- include ../../partials/navbar.ejs
%>
<div class="container">
  <hr />
  <h2>Categoria</h2>
  <a href="/admin/categories/new"
    ><button class="btn btn-success">Criar nova categoria</button></a
  >
  <hr />
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Titulo</th>
        <th>Slug</th>
        <th>Ações</th>
      </tr>
    </thead>
    <% categories.forEach(category => { %>
    <tr>
      <th><%= category.id %></th>
      <th><%= category.title %></th>
      <th><%= category.slug %></th>
      <th>
        <a href="categories/edit/<%= category.id  %>"
          ><button class="btn btn-warning">Editar</button></a
        >
        <form
          method="POST"
          action="/categories/delete"
          style="display: inline;"
          onsubmit="confirmarDelecao(event, this)"
        >
          <input type="hidden" name="id" value="<%= category.id  %>" />
          <button class="btn btn-danger">Remover</button>
        </form>
      </th>
    </tr>
    <% })%>
  </table>
</div>

<%- include ../../partials/footer.ejs %>
<script>
  function confirmarDelecao(event, form) {
    event.preventDefault();
    var decision = confirm("Deletar?");
    if (decision) {
      form.submit();
    }
  }
</script>
