<%- include partials/header.ejs %>
<%- include partials/homenavbar.ejs %>

<body>
    <header class="masthead">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1><%= article.title %></h1>
                        <h2 class="subheading"><%- article.subTitle %></h2>
                        <span class="meta">Publicado por
                            <a href="#">Start Bootstrap</a>
                            on August 24, 2019</span>
                    </div>
                </div>
            </div>
        </div>
    </header>    
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">    
                    <%- article.body %>
                </div>
            </div>
        </div>
    </div>
</body>
<%- include partials/footer.ejs %>