<%- include partials/header.ejs %>
<%- include partials/homenavbar.ejs %>

<body>
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Bem Vindo!</h1>
            <span class="subheading">Este é um simples blog</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <hr>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 ml-2 ">
        <div class="row shadow-lg p-2 mb-3 bg-white rounde navbar-collapse" id="navbarResponsive">
          <ul class="nav flex-column">
            <li class="nav-item">
              <h4 class="nav-link">CATEGORIA</h4>
            </li>
            <li class="nav-item">             
              <% categories.forEach(category => {  %>
                <a class="nav-link " href="/category/<%= category.slug %>" style="font-family: 'Open Sans', 'Helvetica Neue'"><%= category.title %></a>
                <%  }) %>
            </li>          
          </ul>
        </div>
      </div>
      <div class="col-lg-8 col-md-10 mx-auto">

        <div class="post-preview">
          <% articles.forEach(article => { %>
          <a href="/<%= article.slug %>">
            <h2 class="post-title">
              <%= article.title %>
            </h2>
            <h3 class="post-subtitle">
              <%- article.subTitle %>
            </h3>
          </a>
          <p class="post-meta">Publicado por
            <a href="https://github.com/edu2019/blog_painel"><%= article.userName %></a>
            <%= moment(article.createdAt).format('DD MMM YYYY HH:mm') %></p>
          <% })%>
        </div>

        <hr>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="/articles/page/2">Next &rarr;</a>
        </div>
      </div>
    </div>


    <%- include partials/footer.ejs %>