<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<div class="container">
  <hr>
  <% if (msg.length > 0) { %>        
    <div class="alert alert-success " role="alert" data-dismiss="alert" style="width: 400px;">
      <%= msg %>
    </div>
   <% } %>  
  <div class="card mt-5">
    <div class="card-header">
      <h2>Criar Usuario</h2>
    </div>      
    <div class="card-body">
      <form action="/users/create" method="POST">
        <input class="form-control" name="name" type="text" placeholder="Digite seu nome" style="text-transform:capitalize"><br>
        <% if (erros.name) { %>
          <div class="alert alert-danger" role="alert" data-dismiss="alert">
            <%= erros.name.msg %>
          </div>
          <% } %>
        <input class="form-control" name="email" type="email" placeholder="Digite seu email"><br>
        <% if (erros.email) { %>
          <div class="alert alert-danger" role="alert" data-dismiss="alert">
            <%= erros.email.msg %>
          </div>
          <% } %>
        <input class="form-control" name="password" type="password" placeholder="Digite sua senha"><br>
        <% if (erros.password) { %>
          <div class="alert alert-danger" role="alert" data-dismiss="alert">
            <%= erros.password.msg %>
          </div>
          <% } %>
        <button type="submit" class="btn btn-success btn-block">Criar</button>
      </form>
    </div>

  </div>

</div>
<script>
  window.setTimeout(function () {
    $(".alert").fadeTo(500, 0).slideUp(500, function () {
      $(this).remove();
    });
  }, 3000);
</script>
<%- include ../../partials/footer.ejs %>