<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>

<div class="container">  <% if (msg.length > 0) { %>        
  <div class="alert alert-success " role="alert" data-dismiss="alert" style="width: 400px;">
    <%= msg %>
  </div>
 <% } %>  
  <hr />
  <h2>Usuarios</h2>
  <a href="/admin/users/create"
    ><button class="btn btn-success">Criar usuario</button></a
  >
  <hr />
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Email</th>        
      </tr>
    </thead>
    <% users.forEach(user => { %>
    <tr>
      <th><%= user.id %></th>
      <th><%= user.email %></th>  
    </tr>
    <% })%>
  </table>
</div>
<script>
  window.setTimeout(function () {
    $(".alert").fadeTo(500, 0).slideUp(500, function () {
      $(this).remove();
    });
  }, 3000);
</script>
<%- include ../../partials/footer.ejs %>